{{ define "Edit" }}
  {{ template "Header" }}
  <div class="container mt-5">
   <h2>Edit Task</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}"/>
      <div class="form-group">
        <label for="exampleFormControlInput1">Task</label>
        <input type="text" class="form-control" id="task_employee" name="task_employee" value="{{ .Task_employee }}">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Employee</label>
        <input type="text" class="form-control" id="id_employee" name="id_employee" value="{{ .Id_employee }}">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Deadline</label>
        <input type="date" class="form-control" id="date" name="date" value="{{ .Date }}">
      </div>
      <input type="submit" value="Save user" />
    </form><br />    
  </div>
  {{ template "Footer" }}
{{ end }}